@model List<ApplicationUser>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            @obj.PhoneNumber
                        </td>
                        <td>
                            @obj.Company.Name
                        </td>
                        <td>
                            @obj.Role
                        </td>
                        <td>
                            @{
                                var today = DateTime.Today;
                                var lockout = obj.LockoutEnd;
                            }

                            @if(lockout > today)
                            {
                                <div class="text-center">
                                    <a asp-action="LockUnlock" asp-route-id="@obj.Id" class="btn btn-sm btn-danger text-white" style="cursor:pointer; width:100px;">
                                        <i class="bi bi-lock-fill"></i>  Lock
                                    </a>
                                    <a asp-action="RoleManagement" asp-route-userId="@obj.Id" class="btn btn-sm btn-danger text-white" style="cursor:pointer; width:150px;">
                                        <i class="bi bi-pencil-square"></i> Permission
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                    <a asp-action="LockUnlock" asp-route-id="@obj.Id" class="btn btn-sm btn-success text-white" style="cursor:pointer; width:100px;">
                                        <i class="bi bi-unlock-fill"></i>  UnLock
                                    </a>
                                    <a asp-action="RoleManagement" asp-route-userId="@obj.Id" class="btn btn-sm btn-danger text-white" style="cursor:pointer; width:150px;">
                                        <i class="bi bi-pencil-square"></i> Permission
                                    </a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}
